.brands {
    width: 100%;
    &__header { 
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        min-height: 90px;
        background: black;
        
        color: white;
        text-align: center;

        position: relative;

        z-index: 1;
        @media screen and (max-width: 767px) {
            z-index: 0;
        }
        &::after {
            content: '';
            height: 25px;
            width: 100%;
            box-shadow: 0 14px 70px 0 rgba(1,1,1,.67);
            position: absolute;
            bottom: 0px;
            z-index: 1;
        }
        .brands__title {
            padding: 0;
            margin: 0;

            font-size: 30px;
            text-transform: uppercase;
            line-height: 1.2;
            font-weight: 300;
        }
    }

    &__wrapper {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .single-brand {
            display: flex;
            justify-content: center;
            align-items: center;

            flex-basis: calc((100% / 4));

            width: 100%;
           // max-width: 480px;
           // min-width: 300px;

            height: 475px; 
            z-index: 0;

            @media screen and (max-width: 767px) {
                flex-basis: calc((100% / 2));
            }
            @media screen and (max-width: 480px) {
                flex-basis: calc((100% / 1));
                height: 375px; 
            } 

            &__link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-top: 0;
                border-right: 1px solid $borderColor;
                border-bottom: 2px solid $borderColor;
                border-left: 1px solid $borderColor;

                position: relative;

                transition: .3s ease-in-out;

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(255,255,255,.5);
                    opacity: 0;
                    transition: .3s ease-in-out;
                }

                &::after {
                    content: '\e985';
                    font-family: Frino;
                    font-size: 36px;
                    color: black;

                    position: absolute;
                    bottom: 10px;
                    right: 25px;
                    z-index: 1;
                    opacity: 0;

                    transition: .3s ease-in-out;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }
                    &::after {
                        opacity: 1;
                    }
                }


                  
            }
          // &:first-of-type {
          //     .single-brand__link {
          //         border-left: 0;
          //     }
          // }
           &:nth-child(4n) {
                @media screen and (min-width: 768px) {
                    
                }
            }

          // &:nth-child(4n) {
          //     .single-brand__link {
          //         border-left: 0;
          //     }
          // }
        }
    
    }
}