.page--contact {
    .contact {
        display: flex;
        flex-direction: column;
        &__top {
            display: flex;

            @media screen and (max-width: 699px) {
                flex-direction: column;
            }

            .top__left {
                flex-basis: calc(100% / 2);

                display: flex;
                justify-content: flex-end;

                padding-top: 50px;

                .left__wrapper {
                    width: 100%;
                    max-width: 595px;
                    padding: 0 15px;
                }

                .left__form {
                    .wpcf7 {
                        @media screen and (max-width: 480px) {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .wpcf7-form {
                        width: 100%;
                        max-width: 570px;
                        margin: 2rem 0 6rem;
                        @media screen and (max-width: 480px) {
                            max-width: 330px;
                        }
                        .form-row {
                            display: flex;

                            @media screen and (max-width: 480px) {
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }

                            .form-column {
                                &:first-of-type {
                                    margin-right: 10px;
                                    @media screen and (max-width: 480px) {
                                        margin-right: 0;
                                    }
                                }

                                                            
                                .wpcf7-form-control-wrap {
                                    display: block;

                                    width: 100%;
                                    max-width: 235px;
                                    height: 45px;

                                    margin-bottom: 10px;

                                    border: 0;
                                    background: $grayColor4;

                                    font-size: 14px;
                                    color: black;
                                    overflow: hidden; 

                                    @media screen and (max-width: 480px) {
                                        max-width: 330px;
                                    }

                                    &.wiadomosc {
                                        width: 100%;
                                        height: auto;
                                        max-width: 330px;
                                    }
                                    &.salon {
                                        cursor: pointer;
                                        position: relative;
                                        &::after {
                                            content: '\e910';
                                            font-family: Frino;
                                            font-size: 16px;
                                            color: black;
                                            position: absolute;
                                            top: 33%;
                                            right: 10px;
                                            pointer-events: none;
                                        }
                                    }
                                } 


                                input, select {
                                    width: 100%;
                                    height: 45px;
                                    border: 0;
                                    background: none;
                                    color: black;
                                    overflow: hidden;
                                    padding: 0 15px;

                                    outline: none!important;

                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;

                                    &::placeholder {
                                        color: black;
                                    }

                                    &.wpcf7-not-valid {
                                        &::placeholder {
                                            color: red;
                                        }
                                    }
                                }

                                textarea {
                                    width: 100%;
                                    height: 122px;
                                    padding: 15px;
                                    background: none;
                                    border: 0;
                                    outline: none!important;
                                    &::placeholder {
                                        color: black;
                                    }
                                }


                            }

                        }
                        .btn-send {
                            background-color: $blueColor;
                            color: #fff;
                            font-size: 16px;
                            text-transform: uppercase;
                            padding: 10px;
                            border: 0;
                            width: 100%;
                            height: 45px;
                            float: right;
                            max-width: 145px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .top__right {
                flex-basis: calc(100% / 2);

                background: $grayColor3; 

                .right__wrapper {
                    padding-top: 9.8rem;
                    @media screen and (max-width: 899px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    @media screen and (max-width: 699px) {
                        padding-top: 2rem;
                    }
        
                    .salon-info {
                        padding-left: 5rem;
                        padding-bottom: 2.5rem;

                        @media screen and (max-width: 899px) {
                            padding: 0 1rem 2rem;
                        }

                        &__header {
                            padding-bottom: 1.4rem;
                        }

                        &__name {
                            font-size: 21px;
                            margin: 3px 0;
                        }
                        &__address {
                            font-size: 17px;
                            color: $grayColor2;
                        }

                        &__phone, &__email {
                            display: flex;
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 5px;
                            @media screen and (max-width: 480px) {
                                font-size: 15px;
                            }
                            .phone__title, .email__title {
                                color: $blueColor;
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }

        &__map {
            display: flex;
            justify-content: center;
            position: relative;
            > p {
                margin: 0;
                padding: 0;
            }

            &::after {
                @media screen and (min-width: 1160px) {
                    content: '';
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    flex-basis: 50%;
                    top: 0;
                    right: 0;
                    background: $grayColor3;
                    z-index: -1;
                }
            }
        }
    }
}