.main-slider {
    z-index: 0;
    position: relative;
    &__item {
        width: 100%;
        > .main-slider__photo {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    .owl-carousel--main {
       .owl-nav {
            position: absolute;
            left: 50%;
            right: 0;
            top: 45%;
            transform: translate(-50%, -50%);

            width: 100%;

            .owl-prev {
                position: absolute;
                top: 0;
                left: 0;
            }

            .owl-next {
                position: absolute;
                top: 0;
                right: 0; 
            }

            .icon {
                font-size: 60px;
                font-weight: bold;
                color: white;
                &:hover {
                    color: $blueColor;
                }
            }
       }

       .owl-dots {
           position: absolute;
           bottom: 20px;
           left: 30px;
           display: flex;

           counter-reset: dots;

           .owl-dot {
               display: flex;
               background: $grayColor;
               width: 40px;
               height: 2px;
               margin-right: 10px;

               @media screen and (max-width: 480px) {
                   width: 20px;
               }

               &::before, &::after {
                    position: absolute;
                    top: -20px;
                    color: $grayColor;
                    font-size: 16px;
                    font-weight: bold;
                    @media screen and (max-width: 480px) {
                        font-size: 12px;
                        top: -15px;
                    }
               } 

               &::before {
                  content: '0';
               }
               &::after {
                    counter-increment:dots;
                    content: counter(dots);
                    margin-left: 10px;
               }

               &.active {
                    background: white;
                    &::before, &::after {
                        color: white;
                     }
                }

           }
       }

    }
}

