.page--showroom {
    margin: 50px auto 90px auto;
    width: 100%;
    .subpage__header {
        max-width: 1040px;
        margin: 0 auto;
    }

    .showroom-page {
        .showroom-info {
            max-width: 1040px;
            margin: 0 auto;

            .showroom-info__wrapper {
                display: flex;
                flex-wrap: wrap;
                &--top {
                    align-items: center;
                }
            }

            &__logo {
                margin-right: 20px;
            }

            &__address {
                h3 {
                    font-size: 21px;
                }
            }

            .data {
                width: 100%;
                max-width: 400px;

                margin: 25px 0;
                line-height: 1.5;

                &:nth-child(1) {
                    order: 3;
                }
                &:nth-child(2) {
                    order: 1;
                }
                &:nth-child(3) {
                    order: 2;
                }
                &:nth-child(4) {
                    order: 4;
                }
                &:nth-child(5) {
                    order: 5;
                }
                &:nth-child(6) {
                    order: 6;
                }

                &--hours {
                    .data__header {
                        h3 {
                            font-size: 18px;
                            font-weight: 900;
                            margin: 0;
                        }
                    }
                }

                &__header {
                    h3 {
                        font-size: 21px;
                        margin: 0 0 5px 0;
                        padding: 0;
                    }
                }

                &__content {
                    font-size: 14px;
                    color: $blueColor;
                    font-weight: bold;
                    p {
                        margin: 0;
                        font-size: 14px;
                        font-weight: normal;
                        color: black;
                    }
                    .content-bold {
                        font-weight: 900;
                        font-size: 16px;
                        color: black;
                        text-decoration: none;
                        border-bottom: 0;
                    }
                }


            }
        }

        .showroom-form {
            background: $lightGrayColor;
            width: 100%;
            min-height: 460px;
            padding: 20px 0;
            &__wrapper { 
                max-width: 1040px;
                margin: 0 auto;

                display: flex;
                justify-content: space-between;
                align-items: center;

                @media screen and (max-width: 870px) {
                    flex-direction: column;
                }
            }
            &__form {
                width: 100%;
                max-width: 570px;
                .form__header {
                    @media screen and (max-width: 580px) {
                        text-align: center;
                    }
                    h3 {
                        font-size: 20px;
                    }
                }

                .wpcf7-form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    @media screen and (max-width: 580px) {
                        align-items: center;
                    }
                    .form-row {
                        display: flex;
                        width: 100%;
                        @media screen and (max-width: 580px) {
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }

                        .form-column {

                            &:nth-child(1) {
                                width: 100%;
                                max-width: 250px;
                            }
                            &:nth-child(2) {
                                width: 100%;
                                max-width: 340px;
                            }
                            @media screen and (max-width: 580px) {
                                max-width: 340px!important;
                            }
                        }
                        input {
                            width: 100%;
                            max-width: 215px;
                            height: 41px;
                            background: white;
                            margin-bottom: 10px;
                            padding: 0 10px;
                            @media screen and (max-width: 580px) {
                                max-width: 288px;
                            }
                        }
                        select {
                            width: 100%;
                            max-width: 239px;
                            height: 45px;
                            background: white;
                            margin-bottom: 10px;
                            padding: 0 10px;
                            @media screen and (max-width: 580px) {
                                max-width: 312px;
                            }
                        }
                        textarea {
                            width: 100%;
                            max-width: 270px;
                            height: 133px;
                            padding: 10px 20px;
                        }
                    }
                    .btn-send {
                        background-color: $blueColor;
                        color: white;
                        font-weight: bold;
                        font-size: 16px;
                        padding: 10px;
                        border: 0;
                        width: 100%;
                        max-width: 145px;
                        margin-right: 8px;
                    }
                }
            }
            &__image {
                flex-basis: 50%;
                margin-top: 27px;
            }
        }

        .showroom-map {
            max-width: 1040px;
            margin: -180px auto 0 auto;
            @media screen and (max-width: 870px) {
                margin: 0 auto;
            }
        }
    }
}