.showroom {
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;
    @media screen and (max-width: 1320px) {
        padding: 0 15px;
    }
    &__salon {
        position: relative;
        margin-top: 85px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        @media screen and (max-width: 960px) {
            align-items: center;
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            justify-content: center;
        }
        @media screen and (max-width: 480px) {
            margin-top: 30px;
        }
        .salon {
            &__image { 
                position: relative;

                //width: 50%;
                //flex-basis: 50%;
 
                display: flex;
                align-items: center;
                justify-content: center;

                margin-right: 70px;

                width: 100%;
                max-width: 630px;


                @media screen and (max-width: 767px) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                .image__main {
                    width: 100%;
                    max-width: 630px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .image__second {
                    position: absolute;
                    top: 10px;
                    right: -190px;
                    width: 100%;
                    max-width: 220px;
                    height: 100%;
                    max-height: 130px;

                    box-shadow: 0px 3px 27px 0px rgba(1, 1, 1, 0.35);

                    @media screen and (max-width: 1240px) {
                        right: -60px;
                        max-width: 165px;
                        max-height: 90px;
                    }
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }

            }

            &__info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                padding-bottom: 25px;
                .header {
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 480px) {
                        flex-direction: column;
                        align-items: flex-start;
                    } 
                    &__salon-logo {
                        margin-right: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-height: 115px;
                    }
                    &__text {
                        h2 {
                            margin: 0;
                            padding: 0;

                            font-size: 27px;
                            font-weight: 900;
                        }
                        p {
                            margin: 0;
                            padding: 0;

                            font-size: 18px;

                            .header__address {
                                display: block;

                                font-size: 15px;
                                padding-top: 7px;
                                color: $grayColor2;
                            }
                        }
                    }
                }

                .hours {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 15px;
                    
                    @media screen and (max-width: 480px) {
                        flex-direction: column;
                    } 
                    &__inner {
                        margin-bottom: 20px;
                        &:first-of-type {
                            padding-right: 45px;
                            
                            @media screen and (max-width: 480px) {
                                padding-right: 0;
                            } 
                        }
                    }

                    .hours__title {
                        font-size: 18px;
                        padding: 0;
                        margin: 0 0 5px 0;
                    }
                    .hours__main {
                        margin: 0;
                        padding: 0;
                        line-height: 1.5;
                    }
                }

                .buttons {
                    display: flex;
                    padding-top: 5px;
                    @media screen and (max-width: 480px) {
                        flex-direction: column;
                    }
                    .btn--contact {
                        font-size: 16px;
                        font-weight: bold;
                        height: 40px;
                        width: 180px;
                        margin-right: 25px;
                        @media screen and (max-width: 480px) {
                            margin-right: 0;
                            margin-bottom: 10px;
                        }
                    }

                    .btn--map {
                        font-size: 14px;

                        height: 40px;
                        width: 180px;

                        cursor: pointer;
                    }
                }


            }
        }
        &:nth-child(2n) {
            justify-content: flex-end;
            .salon {
                &__image { 
                    position: relative;
    
                    //width: 50%;
                    //flex-basis: 50%;
     
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    margin-right: 0;
                    margin-left: 70px;

                    order: 1;

                    @media screen and (max-width: 767px) {
                        margin-left: 0;
                        order: 0;
                        margin-bottom: 20px;
                    }
    
                    .image__second {
                        position: absolute;
                        top: 10px;
                        left: -190px;
                        right: 0;
                        width: 100%;
                        max-width: 220px;
                        height: 100%;
                        max-height: 130px;

                        @media screen and (max-width: 1240px) {
                            left: -60px;
                            max-width: 165px;
                            max-height: 90px;
                        }
                    }
    
                }
    
                &__info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
    
                    .header {
                        display: flex;
                    }
    
                    .hours {
                        display: flex;

                    }
    
                    .buttons {
                        display: flex;
                    }
                }
            }
        }
        
    }


}


.showroom--bottom {
        .salon {
            justify-content: flex-end;
            @media screen and (max-width: 960px) {
                align-items: center;
            }
            @media screen and (max-width: 767px) {
                flex-direction: column;
                justify-content: center;
            }
            &__image { 

                margin-left: 70px;
                margin-right: 0;
                order: 1;
                @media screen and (max-width: 767px) {
                    margin-left: 0;
                    order: 0;
                    margin-bottom: 20px;
                }
                .image__main {

                }

                .image__second {
                    left: -190px;
                    right: 0;
                    @media screen and (max-width: 1240px) {
                        left: -60px;
                        max-width: 165px;
                        max-height: 90px;
                    }
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                    
                }

            }

            &:nth-child(2n) {
                justify-content: flex-start;
                 .salon__image { 
                     margin-right: 70px;
                     margin-left: 0;
    
                     order: 0;

                     @media screen and (max-width: 767px) {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
        
                     .image__second {
                        right: -190px;
                        left: unset;
                        @media screen and (max-width: 1240px) {
                            right: -60px;
                            max-width: 165px;
                            max-height: 90px;
                        }
                     }
        
                 }

            }
        }

}