.showroom-special {
    background: $lightGrayColor;
    padding: 30px 0;

    display: flex;
    align-items: center;

    position: relative;

    .special-salon {
        display: flex;
        @media screen and (max-width: 960px) {
            align-items: center;
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            justify-content: center;
        }
        &__image {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            max-width: 450px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            .header {
                display: flex;
                align-items: center;
                &__salon-logo {
                    margin-right: 25px;
                }
                &__text {
                    h2 {
                        margin: 0;
                        padding: 0;

                        font-size: 27px;
                        font-weight: 900;
                    }
                    p {
                        margin: 0;
                        padding: 0;

                        font-size: 18px;

                        .header__address {
                            display: block;

                            font-size: 16px;
                            padding-top: 7px;
                            color: $grayColor2;
                        }
                    }
                }
            }

            .hours {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 15px;
                &__inner {
                    margin-bottom: 20px;
                    &:first-of-type {
                        padding-right: 45px;
                    }
                }

                .hours__title {
                    font-size: 18px;
                    padding: 0;
                    margin: 0 0 5px 0;
                }
                .hours__main {
                    margin: 0;
                    padding: 0;
                    line-height: 1.5;
                }
            }

            .buttons {
                display: flex;
                padding-top: 5px;
                @media screen and (max-width: 480px) {
                    flex-direction: column;
                }
                .btn--contact {
                    font-size: 16px;
                    font-weight: bold;
                    height: 40px;
                    width: 180px;
                    margin-right: 25px;
                    @media screen and (max-width: 480px) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }

                .btn--map {
                    font-size: 14px;

                    height: 40px;
                    width: 180px;

                    cursor: pointer;
                }
            }
        }
    }
}