.subpage {
    margin: 50px auto 90px auto;
    width: 100%;
    max-width: 1040px;
    
    &__header {
        .subpage__title {
            font-size: 30px;
            font-weight: 900;
            text-transform: uppercase;
            padding: 0 15px;
        }
    }

    &__content {
        margin-top: 30px;
        padding: 0 15px;
        p {
            font-size: 16px;
            line-height: 1.5;
        }

        a {
            color: $blueColor;
            border-bottom: 1px solid $blueColor;
        }

        li {
            line-height: 1.5;
        }
    }
}

.page-id-137 {
    .subpage__content {
        p {
            font-size: 14px;
            line-height: 1.3;
        }
    }
}

.page-id-217 {
    .subpage__header {
        .subpage__title {
            padding: 0;
        }
    }
        
}
  