<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>autogroup2</title>

    <link rel='stylesheet' id='Lato-fonts-css' href='//fonts.googleapis.com/css?family=Lato%3A100%2C300%2C400%2C700%2C900&#038;subset=latin-ext&#038;ver=1.1'
    type='text/css' media='all' />
    <link href="https://cdn.jsdelivr.net/gh/arbati6/frino@1.0.1/frinostyle.min.css" rel="stylesheet">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but autogroup2 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
