.header__logo {  
    margin: 0 10px 0;
    padding: 20px 0;

    @media screen and (max-width: 1480px) {
        margin: 0 10px 0 20px;
    }
    @media screen and (max-width: 1199px) {
        position: absolute;
        left: 50%;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}    