.header--main {
    background: black; 
    box-shadow: 0px 14px 59px 0px rgba(1, 1, 1, 0.67);

    display: flex;
    align-items: center;  
    justify-content: space-between; 

    padding: 0 65px;

    min-height: 90px;  

    position: relative;
    z-index: 1;

    @media screen and (max-width: 1199px) {
        display: block;
    }
}
