#menuToggle {

    @media screen and (max-width: 1199px) {
        display: block;
        position: absolute;
        top: 33px;
        left: 30px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
    
    }

    input { 
        display: none;  

        @media screen and (max-width: 1199px) {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px; 
            left: -5px;
            
            cursor: pointer;
            
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            
            -webkit-touch-callout: none;
        
        }
    }

    span {

        @media screen and (max-width: 1199px) {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            
            background: #cdcdcd;
            border-radius: 3px;
            
            z-index: 1;
            
            transform-origin: 4px 0px;
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
    
            &:first-child{
                transform-origin: 0% 0%;
            }
    
            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        
        }
        

    }
  
    input:checked ~ span {


        @media screen and (max-width: 1199px) {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: $blueColor;

            &:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2); 
            }
            &:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
            }
        }
    }


    @media screen and (max-width: 1199px) {
        input:checked ~ ul {
        transform: none;
        }
    }
}

#menu {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) { 
        display: block;
        position: absolute; 
        width: 300px; 
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px; 
        
        background: black;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

        a {
            padding: 10px 0;
            font-size: 22px;
        }

        input:checked ~ ul {
            transform: none;
        }

        @media screen and (max-width: 380px) {
            width: 215px;
        }
    }
    .menu-item { 
        padding: 19px 30px;
        border-right: 1px solid rgba(235, 235, 235, .2);

        &:last-of-type {
            border-right: 0;
        }

        @media screen and (max-width: 1199px) {
            padding: 15px 0;
            border-right: 0;
        }
        a { 
            font-size: 18px;
            font-weight: 700;
            color: white;
            text-transform: uppercase;
            line-height: 1.2;
            border-bottom: 4px solid transparent;
            padding: 30px 0;
            &:hover {
                border-color: $blueColor;
            }

            @media screen and (max-width: 1480px) {
                font-size: 16px; 
            }

            @media screen and (max-width: 1199px) {
                padding: 5px 0;
            }
        }   
    }


}

