.top-buttons {
    width: 100%;
    max-width: 325px;

    background: $blueColor;  

    height: 90px;
    max-height: 90px;
 
    display: flex;
    align-items: center; 

    @media screen and (max-width: 1480px) {
        max-width: 265px;
    }
    @media screen and (max-width: 1199px) {
        position: absolute;
        top: 0;
        right: 0;
    }
    @media screen and (max-width: 767px) {
        position: relative;
        max-width: 100%;
        height: 60px;
    }

 
    &__button {
        width: 50%;
        text-align: center;
        > a { 
            color: white;  
            font-size: 18px;   
            text-align: center;
 
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 17px 0;

            @media screen and (max-width: 767px) {
                font-size: 16px!important;  
            }

            > .icon {
                font-size: 24px;
                line-height: 1;
                padding-right: 10px;
            }

            &:hover {
                opacity: .8;
            }
        }
        &:first-of-type {
            > a {
                border-right: 1px solid rgba(0, 74, 128, 0.3);
            }
        }
    }
}      
