<template>
<section class="section section--subpage section--contact page--contact">


    <section class="subpage__contact contact">

        <div class="contact__top top">
            <div class="top__left left">
                <div class="left__wrapper">
                    <header class="section__header subpage__header">
                        <h1 class="subpage__title" v-if="page.title">
                            {{ page.title.rendered }}
                        </h1>
                    </header>
                    <div class="left__content" v-if="page.title" v-html="page.content.rendered"></div>

                    <div class="left__form" v-if="acf.contact_form" v-html="acf.contact_form"></div>
                </div>
            </div>

            <div class="top__right right">
                <div class="right__wrapper" v-if="salons && salons.length">
                    <div class="salon-info" v-for="salon in salons">
                        <header class="salon-info__header">
                            <h3 class="salon-info__name" v-html="salon.contact_salons_name"></h3>
                            <span class="salon-info__address" v-html="salon.contact_salons_address"></span>
                        </header>

                        <div class="salon-info__phone phone">
                            <span class="phone__title">
                                tel.:
                            </span>
                            <span class="phone__number" v-html="salon.contact_salons_phone"> </span>
                        </div>

                        <div class="salon-info__email email">
                            <span class="email__title">
                                e-mail:
                            </span>
                            <span class="email__address" v-html="salon.contact_salons_mail"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="contact__map" v-if="acf.contact_map" v-html="acf.contact_map"></div>

    </section>


<div class="loader" v-if="loading"/>
</section>

</template>

<script>
import axios from 'axios';

export default {
  name: 'contact',

  data() {
    return {
      loading: false,
      page: [],
      acf: [],
      salons: [],
    };
  },
  mounted() {
    this.loading = true;
    axios
      .get('//playgrounds.getecom.pl/autogrouppolska/wp-json/wp/v2/pages/217')
      .then((response) => {
        this.page = response.data;
        this.acf = response.data.acf;
        this.salons = response.data.acf.contact_salons;
        this.loading = false;
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => this.loading = false);
  },
};
</script>
