<template>
    <section class="section section--subpage subpage">
      <header class="section__header subpage__header">
          <h1 class="subpage__title" v-if="page.title">
              {{ page.title.rendered }}
          </h1>
      </header>
      <section class="subpage__content content" v-if="page.content" v-html="page.content.rendered "></section>
      <div class="loader" v-if="loading"/>
    </section>
</template>

<script>
import axios from 'axios';

export default {
  name: 'facture',

  data() {
    return {
      loading: false,
      page: [],
    };
  },
  mounted() {
    this.loading = true;
    axios
      .get('//playgrounds.getecom.pl/autogrouppolska/wp-json/wp/v2/pages/26')
      .then((response) => {
        this.page = response.data;
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => this.loading = false);
  },
};
</script>
