<template>
  <div class="home">
    <Slider />
    <Brands />
  </div>
</template>

<script>
import Slider from '@/components/Slider.vue';
import Brands from '@/components/Brands.vue';

export default {
  name: 'home',
  components: {
    Brands,
    Slider,
  },
};
</script>
