.footer__copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 960px) {
        justify-content: center;
    }

    .copyright__info {
        > a {
            color: white;
            font-size: 14px;
            border-bottom: 1px solid white;
            margin-right: 15px;
        }
    }
    .copyright__autogroup {
        > span {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.502);
        }
    }
}
