.footer {
    background: black;

    width: 100%;



   
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-height: 115px;
        max-width: 1800px;
        margin: 0 auto;

        padding: 0 15px;

        @media screen and (max-width: 1280px) {
            flex-direction: column;
            justify-content: center;
        }
        @media screen and (max-width: 767px) {
            padding-bottom: 25px;
        }
    }


}