.footer__social {
    &.social {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            padding: 20px 0;
            align-items: flex-start;
        }
        .social__facebook {
            margin: 0 15px;
            @media screen and (max-width: 767px) {
                margin: 15px 0;
            }
            a {
                color: white;
                display: flex;
                align-items: center;
                font-weight: bold;
                > i {
                    font-size: 18px;
                    background: $facebookColor;
                   // border: 2px solid rgba(255, 255, 255, .3);
                    border-radius: 50%;
                    padding: 11.5px 12px;
                    margin-right: 15px;
                    line-height: 1;
                }
                &:hover {
                    color: $blueColor;

                    > i {   
                        background: white;
                        color: $blueColor;
                    }
                }
            }
        }
    }
}