<template>
    <section class="section section--brands brands" id="brands">
        <header class="section__header  brands__header">
                <h1 class="section__title brands__title">
                    NASZE MARKI
                </h1>
        </header>
        <div class="brands__wrapper" v-if="brands && brands.length">
            <div class="brands__single-brand single-brand" v-for="brand of brands">
                <a v-bind:href="brand.brand_link" class="single-brand__link" target="_blank">
                    <img :src="brand.brand_logo" alt="" class="single-brand__logo">
                </a>
            </div>
        </div>
        <div class="loader" v-if="loading"/>
    </section>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Brands',
  data() {
    return {
      loading: false,
      brands: [],
    };
  },
  mounted() {
    this.loading = true;
    axios
      .get('//playgrounds.getecom.pl/autogrouppolska/wp-json/wp/v2/pages/10')
      .then((response) => {
        this.brands = response.data.acf.brand;
        // console.log(this.brands);
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => this.loading = false);
  },
};
</script>
