<template>
    <footer class="footer">
        <div class="footer__wrapper">
            <div class="footer__social social">
                <div class="social__facebook">
                    <a :href="acf.facebook_1_link"><i class="F-FACEBOOK-OFFICIAL-F"></i>
                        {{ acf.facebook_1_title }}</a>
                </div>
                <div class="social__facebook">
                    <a :href="acf.facebook_2_link"><i class="F-FACEBOOK-OFFICIAL-F"></i> {{ acf.facebook_2_title }}</a>
                </div>
                <div class="social__facebook">
                    <a :href="acf.facebook_3_link"><i class="F-FACEBOOK-OFFICIAL-F"></i> {{ acf.facebook_3_title }}</a>
                </div>
                <div class="social__facebook">
                    <a :href="acf.facebook_4_link"><i class="F-FACEBOOK-OFFICIAL-F"></i>
                        {{ acf.facebook_4_title }}</a>
                </div>
            </div>

            <div class="footer__copyright copyright">
                <div class="copyright__info">
                    <router-link to="/obowiazek-informacyjny" >Obowiązek informacyjny</router-link>
                </div>
                <div class="copyright__autogroup">
                    <span>Auto Group Polska ⓒ2019</span>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import axios from 'axios';
import debounce from 'lodash.debounce';

export default {
  name: 'Footer',
  data() {
    return {
      acf: [],
    };
  },
  mounted() {
    axios
      .get('//playgrounds.getecom.pl/autogrouppolska/wp-json/wp/v2/pages/10')
      .then((response) => {
        this.acf = response.data.acf;
        // console.log(this.acf);
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => this.loading = false);
  },
};
</script>
