<template>
	<header class="header header--main">
		<router-link to="/" class="header__logo"><img src="//playgrounds.getecom.pl/autogrouppolska/wp-content/themes/agp-theme/assets/img/logo.png" alt="Auto Group Polska"></router-link>
	    <nav class="header__navigation navigation" role="navigation">

	        <div id="menuToggle">

				<input type="checkbox" />

				<span></span>
				<span></span>
				<span></span>

			    <ul id="menu" class="navbar-nav">
                    <li class="menu-item"><router-link to="/" >Strona główna</router-link> </li>
                    <li class="menu-item"><router-link to="/o-nas">O nas</router-link></li>
                    <li class="menu-item"><router-link to="/dane-do-faktury">Dane do faktury</router-link></li>
                    <li class="menu-item"><router-link to="/kontakt">Kontakt</router-link></li>
                </ul>

            </div>
		</nav>

	</header>
</template>

<script>
export default {
  name: 'Header',
};

</script>
