<template>
    <header class="section__header subpage__header">
        <h1 class="subpage__title">
            {{ page.title.rendered }}
        </h1>
    </header>
</template>

<script>
export default {
  name: 'PageTitle',
};

</script>
