<template>
    <section class="section section--slider main-slider" v-if="slider && slider.length">
        <carousel :items="1" :autoplay="true" :dots="true" :nav="false">
               <img :src="slide.slider_photo" alt=""  v-for="slide of slider">
        </carousel>
    </section>
</template>

<script>
import axios from 'axios';
import carousel from 'vue-owl-carousel';

export default {
  components: {
    carousel,
  },
  data() {
    return {
      slider: [],
    };
  },
  mounted() {
    axios
      .get('//playgrounds.getecom.pl/autogrouppolska/wp-json/wp/v2/pages/10')
      .then((response) => {
        this.slider = response.data.acf.slider;
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => this.loading = false);
  },

};
</script>

<style lang="scss">
    $blueColor: #248cc8;
    $grayColor: #84878e;

    .main-slider {
        z-index: 0;
        position: relative;

        .owl-item {
            width: 100%;

            > img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        .owl-carousel {
            .owl-nav {
                position: absolute;
                left: 50%;
                right: 0;
                top: 45%;
                transform: translate(-50%, -50%);

                width: 100%;

                .owl-prev {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .owl-next {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .icon {
                    font-size: 60px;
                    font-weight: bold;
                    color: white;

                    &:hover {
                        color: $blueColor;
                    }
                }
            }

            .owl-dots {
                position: absolute;
                bottom: 20px;
                left: 30px;
                display: flex;

                counter-reset: dots;

                .owl-dot {
                    display: flex;
                    background: $grayColor;
                    width: 40px;
                    height: 2px;
                    margin-right: 10px;
                    > span {
                        display: none;
                    }

                    &::before,
                    &::after {
                        position: absolute;
                        top: -20px;
                        color: $grayColor;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    &::before {
                        content: '0';
                    }

                    &::after {
                        counter-increment: dots;
                        content: counter(dots);
                        margin-left: 10px;
                    }

                    &.active {
                        background: white;

                        &::before,
                        &::after {
                            color: white;
                        }
                    }

                }
            }

        }
    }
</style>
