.btn {
    border: 1px solid transparent;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;

    transition: .35s ease-in-out;

    &:hover {
        opacity: .7;
    }

    > i {
        padding-right: 5px;
    }
    &--white {
        border-color: black;
    }

    &--blue {
        background: $blueColor;
        color: white;
    }
}