.loader {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    width: 100%;
    height: 300px;
}

.loader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $blueColor;
    border-color: $blueColor transparent $blueColor transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}