.map {
    //position: relative;
    .modal {
        position: absolute;
        z-index: 10000; /* 1 */
        top: 0;
        left: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
    }

    .modal.is-visible {
        visibility: visible;
        .modal-overlay {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
        }
        .modal-transition {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .modal-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.3s, opacity 0.3s;
    }

    .modal-wrapper {
        position: absolute;
        z-index: 9999;
        top: 0;
        left: 50%;
        width: 100%; 
        max-width: 32em;
        margin-left: -16em;
        background-color: #fff;
        box-shadow: 0px 14px 59px 0px rgba(1, 1, 1, 0.21);
    }
      
    .modal-transition {
        transition: all 0.3s 0.12s;
        transform: translateY(-10%);
        opacity: 0;
    }

    .modal-header,
    .modal-content {
        //padding: 1em;
    }

    .modal-header {
      //  position: absolute;
      //  top: 0;
      //  right: 0;
    }

    .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        color: white;
        background: black;
        border: 0;
        cursor: pointer;
    }


    .modal-heading {
        //font-size: 1.125em;
        //margin: 0;
        //-webkit-font-smoothing: antialiased;
        //-moz-osx-font-smoothing: grayscale;
    }

    .modal-content > *:first-child {
        margin-top: 0;
    }

    .modal-content > *:last-child {
        margin-bottom: 0;
    }
}